# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# Data files (regenerated)
data/raw/*.csv

# Airflow
logs/
airflow.db
airflow-webserver.pid

# Docker
*.log

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/package-lock.yml

# IDE
.vscode/
.idea/

# Personal notes
WALKTHROUGH.md

# OS
.DS_Store
Thumbs.db
