# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# Data files (regenerated)
data/raw/*.csv

# Airflow
logs/
airflow.db
airflow-webserver.pid

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
